h1 {
    text-align: center;
    color: darkgray;
}

.container {
    margin-top: 200px;
    background-color: lightblue;    
}

.btn {
    margin-bottom: 200px;
    margin-left: 40%;
    padding: 50px;
    border: 3px solid lightseagreen;
}